openapi: 3.0.0
info:
  description: Administer auth providers, secrets, user connections, and session verification settings for an Arcade organization.
  title: Arcade Admin API
  contact:
    name: Arcade
    url: https://arcade.dev
    email: contact@arcade.dev
  version: 0.1.0
servers:
- url: https://api.arcade.dev
tags:
- name: Admin
paths:
  /v1/admin/auth_providers:
    get:
      security:
      - Bearer: []
      description: List a page of auth providers that are available to the caller
      tags:
      - Admin
      summary: List Auth Providers
      operationId: auth-providers-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.OffsetPage-schemas_AuthProviderResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
    post:
      security:
      - Bearer: []
      description: Create a new auth provider
      tags:
      - Admin
      summary: Create an Auth Provider
      operationId: auth-providers-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.AuthProviderCreateRequest'
        description: The auth provider to create
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.AuthProviderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/admin/auth_providers/{id}:
    get:
      security:
      - Bearer: []
      description: Get the details of a specific auth provider
      tags:
      - Admin
      summary: Get an Auth Provider
      operationId: auth-providers-get
      parameters:
      - description: The ID of the auth provider to get
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.AuthProviderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
    delete:
      security:
      - Bearer: []
      description: Delete a specific auth provider
      tags:
      - Admin
      summary: Delete an Auth Provider
      operationId: auth-providers-delete
      parameters:
      - description: The ID of the auth provider to delete
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.AuthProviderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
    patch:
      security:
      - Bearer: []
      description: Patch an existing auth provider
      tags:
      - Admin
      summary: Patch an Auth Provider
      operationId: auth-providers-update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.AuthProviderPatchRequest'
        description: The auth provider to update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.AuthProviderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/admin/secrets:
    get:
      security:
      - Bearer: []
      description: List all secrets that are visible to the caller
      tags:
      - Admin
      summary: List Secrets
      operationId: secrets-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.OffsetPage-schemas_StoredSecretResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/admin/secrets/{secret_id}:
    delete:
      security:
      - Bearer: []
      description: Delete a secret by its ID
      tags:
      - Admin
      summary: Delete Secret
      operationId: secrets-delete
      parameters:
      - description: The ID of the secret to delete
        name: secret_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/admin/secrets/{secret_key}:
    post:
      security:
      - Bearer: []
      description: Create or update a secret
      tags:
      - Admin
      summary: Upsert Secret
      operationId: secrets-upsert
      parameters:
      - description: The key of the secret to upsert
        name: secret_key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.UpsertStoredSecretRequest'
        description: The secret to upsert
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.StoredSecretResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/admin/settings/session_verification:
    get:
      security:
      - Bearer: []
      description: Get the current session verification settings for the caller
      tags:
      - Admin
      summary: Get Session Verification Settings
      operationId: session-verification-settings-get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.SessionVerificationSettingsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
    put:
      security:
      - Bearer: []
      description: Update session verification settings for the caller
      tags:
      - Admin
      summary: Update Session Verification Settings
      operationId: session-verification-settings-update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.UpdateSessionVerificationSettingsRequest'
        description: The settings to update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.SessionVerificationSettingsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/admin/user_connections:
    get:
      security:
      - Bearer: []
      description: List all auth connections
      tags:
      - Admin
      summary: List Auth Connections
      operationId: auth-connections-list
      parameters:
      - description: Provider ID
        name: provider_id
        in: query
        schema:
          type: string
      - description: User ID
        name: user_id
        in: query
        schema:
          type: string
      - description: Page size
        name: limit
        in: query
        schema:
          type: integer
      - description: Page offset
        name: offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.OffsetPage-schemas_UserAuthProviderConnectionResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/admin/user_connections/{id}:
    delete:
      security:
      - Bearer: []
      description: Delete a user/auth provider connection
      tags:
      - Admin
      summary: Delete Auth Connection
      operationId: auth-connections-delete
      parameters:
      - description: Connection ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/workers:
    get:
      security:
      - Bearer: []
      description: List all workers with their definitions
      tags:
      - Admin
      summary: List All Workers
      operationId: workers-list
      parameters:
      - description: 'Number of items to return (default: 25, max: 100)'
        name: limit
        in: query
        schema:
          type: integer
      - description: 'Offset from the start of the list (default: 0)'
        name: offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.OffsetPage-schemas_WorkerResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
    post:
      security:
      - Bearer: []
      description: Create a worker
      tags:
      - Admin
      summary: Create a Worker
      operationId: workers-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.CreateWorkerRequest'
        description: Worker configuration to create
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.WorkerResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/workers/test:
    post:
      security:
      - Bearer: []
      description: Test a worker connection before adding it to the system
      tags:
      - Admin
      summary: Test a Worker Connection
      operationId: workers-test
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.WorkerTestRequest'
        description: Minimal worker configuration to test
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.WorkerTestResponse'
        '400':
          description: Invalid request body or URI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/workers/{id}:
    get:
      security:
      - Bearer: []
      description: Get a worker by ID
      tags:
      - Admin
      summary: Get a Worker by ID
      operationId: workers-get
      parameters:
      - description: Worker ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.WorkerResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
    delete:
      security:
      - Bearer: []
      description: Delete a worker
      tags:
      - Admin
      summary: Delete a Worker
      operationId: workers-delete
      parameters:
      - description: Worker ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
    patch:
      security:
      - Bearer: []
      description: Update a worker
      tags:
      - Admin
      summary: Update a Worker
      operationId: workers-update
      parameters:
      - description: Worker ID
        name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.UpdateWorkerRequest'
        description: Worker configuration to update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.WorkerResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/workers/{id}/authorize:
    get:
      security:
      - Bearer: []
      description: Authorize a worker
      tags:
      - Admin
      summary: Authorize a Worker
      operationId: workers-authorize
      parameters:
      - description: Worker ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.WorkerAuthorizeResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/workers/{id}/health:
    get:
      security:
      - Bearer: []
      description: Get the health of a worker
      tags:
      - Admin
      summary: Get the Health of a Worker
      operationId: workers-health
      parameters:
      - description: Worker ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.WorkerHealthResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
  /v1/workers/{id}/tools:
    get:
      security:
      - Bearer: []
      description: Returns a page of tools
      tags:
      - Admin
      summary: List Tools
      operationId: tools-list
      parameters:
      - description: Worker ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: 'Number of items to return (default: 25, max: 100)'
        name: limit
        in: query
        schema:
          type: integer
      - description: 'Offset from the start of the list (default: 0)'
        name: offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.OffsetPage-schemas_ToolResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Error'
components:
  schemas:
    schemas.UpsertStoredSecretRequest:
      type: object
      required:
      - value
      properties:
        description:
          type: string
        value:
          type: string
          maxLength: 5000
    schemas.UserInfoRequestTriggersPatchRequest:
      type: object
      properties:
        on_token_grant:
          type: boolean
        on_token_refresh:
          type: boolean
    schemas.OffsetPage-schemas_ToolResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/schemas.ToolResponse'
        limit:
          type: integer
        offset:
          type: integer
        page_count:
          type: integer
        total_count:
          type: integer
    schemas.OffsetPage-schemas_UserAuthProviderConnectionResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/schemas.UserAuthProviderConnectionResponse'
        limit:
          type: integer
        offset:
          type: integer
        page_count:
          type: integer
        total_count:
          type: integer
    schemas.UpdateSessionVerificationSettingsRequest:
      type: object
      properties:
        unsafe_skip_verification:
          type: boolean
        verifier_url:
          type: string
    schemas.ToolResponse:
      type: object
      required:
      - fully_qualified_name
      - input
      - name
      - qualified_name
      - toolkit
      properties:
        description:
          type: string
        formatted_schema:
          type: object
          additionalProperties: {}
        fully_qualified_name:
          type: string
        input:
          $ref: '#/components/schemas/schemas.Input'
        metadata:
          $ref: '#/components/schemas/tool.ToolMetadata'
        name:
          type: string
        output:
          $ref: '#/components/schemas/schemas.Output'
        qualified_name:
          type: string
        requirements:
          $ref: '#/components/schemas/schemas.Requirements'
        toolkit:
          $ref: '#/components/schemas/schemas.ToolkitResponse'
    schemas.UserInfoRequestConfigPatchRequest:
      type: object
      properties:
        auth_header_value_format:
          type: string
          maxLength: 200
        auth_method:
          type: string
        endpoint:
          type: string
          maxLength: 1000
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_map:
          type: object
          additionalProperties:
            type: string
        triggers:
          $ref: '#/components/schemas/schemas.UserInfoRequestTriggersPatchRequest'
    schemas.StoredSecretResponse:
      type: object
      properties:
        binding:
          $ref: '#/components/schemas/schemas.BindingResponse'
        created_at:
          type: string
        description:
          type: string
        id:
          type: string
        key:
          type: string
        last_accessed_at:
          type: string
        updated_at:
          type: string
    schemas.MCPWorkerTestConfig:
      type: object
      required:
      - uri
      properties:
        uri:
          type: string
          maxLength: 2048
    schemas.Input:
      type: object
      properties:
        parameters:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/schemas.Parameter'
    schemas.MCPWorkerSecretsCreateRequest:
      type: object
      additionalProperties:
        type: string
    schemas.OAuth2RequestConfigPatchRequest:
      type: object
      properties:
        auth_header_value_format:
          type: string
          maxLength: 200
        auth_method:
          type: string
        endpoint:
          type: string
          maxLength: 1000
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_map:
          type: object
          additionalProperties:
            type: string
    schemas.WorkerRequirementsResponse:
      type: object
      properties:
        authorization:
          $ref: '#/components/schemas/schemas.WorkerAuthorizationRequirementResponse'
        met:
          type: boolean
    schemas.OAuth2ConfigResponse:
      type: object
      properties:
        authorize_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigResponse'
        client_id:
          type: string
        client_secret:
          $ref: '#/components/schemas/schemas.SecretResponse'
        pkce:
          $ref: '#/components/schemas/schemas.PKCEConfigResponse'
        redirect_uri:
          description: The redirect URI required for this provider.
          type: string
        refresh_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigResponse'
        scope_delimiter:
          type: string
        token_introspection_request:
          $ref: '#/components/schemas/schemas.TokenIntrospectionRequestConfigResponse'
        token_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigResponse'
        user_info_request:
          $ref: '#/components/schemas/schemas.UserInfoRequestConfigResponse'
    schemas.Output:
      type: object
      properties:
        available_modes:
          type: array
          items:
            type: string
        description:
          type: string
        value_schema:
          $ref: '#/components/schemas/schemas.ValueSchema'
    schemas.HTTPWorkerConfigResponse:
      type: object
      properties:
        retry:
          type: integer
        secret:
          $ref: '#/components/schemas/schemas.SecretResponse'
        timeout:
          type: integer
        uri:
          type: string
    schemas.ValueSchema:
      type: object
      required:
      - val_type
      properties:
        enum:
          type: array
          items:
            type: string
        inner_val_type:
          type: string
        val_type:
          type: string
    schemas.TokenIntrospectionTriggersPatchRequest:
      type: object
      properties:
        on_token_grant:
          type: boolean
        on_token_refresh:
          type: boolean
    schemas.OAuth2ConfigCreateRequest:
      type: object
      required:
      - client_id
      properties:
        authorize_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigCreateRequest'
        client_id:
          type: string
          maxLength: 1000
        client_secret:
          type: string
          maxLength: 1000
        pkce:
          $ref: '#/components/schemas/schemas.PKCEConfigCreateRequest'
        refresh_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigCreateRequest'
        scope_delimiter:
          type: string
          enum:
          - ','
          - ' '
        token_introspection_request:
          $ref: '#/components/schemas/schemas.TokenIntrospectionCreateRequest'
        token_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigCreateRequest'
        user_info_request:
          $ref: '#/components/schemas/schemas.UserInfoRequestConfigCreateRequest'
    schemas.OAuth2RequestConfigResponse:
      type: object
      properties:
        auth_header_value_format:
          type: string
        auth_method:
          type: string
        endpoint:
          type: string
        expiration_format:
          type: string
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
        response_content_type:
          type: string
        response_map:
          type: object
          additionalProperties:
            type: string
    schemas.OAuth2AuthorizationRequirement:
      type: object
      properties:
        scopes:
          type: array
          items:
            type: string
    schemas.SecretResponse:
      type: object
      properties:
        binding:
          $ref: '#/components/schemas/identity.BindingType'
        editable:
          type: boolean
        exists:
          type: boolean
        value:
          type: string
    schemas.ToolkitResponse:
      type: object
      required:
      - name
      properties:
        description:
          type: string
        name:
          type: string
        version:
          type: string
    schemas.UpdateWorkerRequest:
      type: object
      properties:
        enabled:
          type: boolean
        http:
          $ref: '#/components/schemas/schemas.HTTPWorkerConfigUpdate'
        mcp:
          $ref: '#/components/schemas/schemas.MCPWorkerConfigPatchRequest'
    schemas.MCPWorkerHeadersResponse:
      type: object
      additionalProperties:
        type: string
    schemas.OffsetPage-schemas_WorkerResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/schemas.WorkerResponse'
        limit:
          type: integer
        offset:
          type: integer
        page_count:
          type: integer
        total_count:
          type: integer
    schemas.SecretRequirement:
      type: object
      required:
      - key
      properties:
        key:
          type: string
        met:
          type: boolean
          default: false
        status_reason:
          type: string
    schemas.AuthProviderResponse:
      type: object
      properties:
        binding:
          $ref: '#/components/schemas/schemas.BindingResponse'
        created_at:
          type: string
        description:
          type: string
        id:
          type: string
        oauth2:
          $ref: '#/components/schemas/schemas.OAuth2ConfigResponse'
        provider_id:
          type: string
        status:
          type: string
        type:
          type: string
        updated_at:
          type: string
    schemas.CreateWorkerRequest:
      type: object
      required:
      - id
      properties:
        enabled:
          type: boolean
        http:
          $ref: '#/components/schemas/schemas.HTTPWorkerConfigRequest'
        id:
          type: string
          maxLength: 100
        mcp:
          $ref: '#/components/schemas/schemas.MCPWorkerConfigCreateRequest'
        type:
          type: string
    schemas.MCPOAuth2ConfigCreateRequest:
      type: object
      properties:
        authorization_url:
          type: string
          maxLength: 2048
        client_id:
          type: string
          maxLength: 1000
        client_secret:
          type: string
          maxLength: 1000
        external_id:
          type: string
          maxLength: 100
    schemas.AuthProviderCreateRequest:
      type: object
      required:
      - id
      properties:
        description:
          type: string
          maxLength: 1000
        external_id:
          description: The unique external ID for the auth provider
          type: string
          maxLength: 50
        id:
          type: string
          maxLength: 100
        oauth2:
          $ref: '#/components/schemas/schemas.OAuth2ConfigCreateRequest'
        provider_id:
          type: string
        status:
          type: string
        type:
          type: string
    schemas.MCPWorkerHeadersCreateRequest:
      type: object
      additionalProperties:
        type: string
    schemas.BindingResponse:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: '#/components/schemas/identity.BindingType'
    schemas.MCPWorkerConfigPatchRequest:
      type: object
      properties:
        headers:
          $ref: '#/components/schemas/schemas.MCPWorkerHeadersCreateRequest'
        oauth2:
          $ref: '#/components/schemas/schemas.MCPOAuth2ConfigUpdateRequest'
        retry:
          type: integer
          maximum: 10
          minimum: 0
        secrets:
          type: object
          additionalProperties:
            type: string
        timeout:
          type: integer
        uri:
          type: string
          maxLength: 2048
    schemas.HTTPWorkerTestConfig:
      type: object
      required:
      - uri
      properties:
        uri:
          type: string
          maxLength: 2048
    tool.Behavior:
      type: object
      properties:
        destructive:
          type: boolean
        idempotent:
          type: boolean
        open_world:
          type: boolean
        operations:
          type: array
          items:
            type: string
        read_only:
          type: boolean
    schemas.OffsetPage-schemas_StoredSecretResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/schemas.StoredSecretResponse'
        limit:
          type: integer
        offset:
          type: integer
        page_count:
          type: integer
        total_count:
          type: integer
    schemas.TokenIntrospectionPatchRequest:
      type: object
      properties:
        auth_header_value_format:
          type: string
          maxLength: 200
        auth_method:
          type: string
        endpoint:
          type: string
          maxLength: 1000
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_map:
          type: object
          additionalProperties:
            type: string
        triggers:
          $ref: '#/components/schemas/schemas.TokenIntrospectionTriggersPatchRequest'
    schemas.HTTPWorkerConfigRequest:
      type: object
      required:
      - retry
      - secret
      - timeout
      - uri
      properties:
        retry:
          type: integer
          maximum: 10
          minimum: 0
        secret:
          type: string
          maxLength: 100
        timeout:
          type: integer
        uri:
          type: string
          maxLength: 2048
    schemas.MCPOAuth2ConfigResponse:
      type: object
      properties:
        authorization_url:
          type: string
        client_id:
          type: string
        client_secret:
          $ref: '#/components/schemas/schemas.SecretResponse'
        external_id:
          type: string
        redirect_uri:
          type: string
        supported_scopes:
          type: array
          items:
            type: string
    schemas.MCPOAuth2ConfigUpdateRequest:
      type: object
      properties:
        authorization_url:
          type: string
          maxLength: 2048
        client_id:
          type: string
          maxLength: 1000
        client_secret:
          type: string
          maxLength: 1000
    schemas.TokenIntrospectionRequestConfigResponse:
      type: object
      properties:
        auth_header_value_format:
          type: string
        auth_method:
          type: string
        enabled:
          type: boolean
        endpoint:
          type: string
        expiration_format:
          type: string
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
        response_content_type:
          type: string
        response_map:
          type: object
          additionalProperties:
            type: string
        triggers:
          $ref: '#/components/schemas/schemas.TokenIntrospectionRequestTriggersResponse'
    schemas.UserInfoRequestTriggersCreateRequest:
      type: object
      properties:
        on_token_grant:
          type: boolean
        on_token_refresh:
          type: boolean
    tool.ToolMetadata:
      type: object
      properties:
        behavior:
          $ref: '#/components/schemas/tool.Behavior'
        classification:
          $ref: '#/components/schemas/tool.Classification'
        extras:
          type: object
          additionalProperties: {}
    schemas.PKCEConfigCreateRequest:
      type: object
      properties:
        code_challenge_method:
          type: string
        enabled:
          type: boolean
    auth.AuthorizationStatus:
      type: string
      enum:
      - not_started
      - pending
      - completed
      - failed
      x-enum-varnames:
      - StatusNotStarted
      - StatusPending
      - StatusCompleted
      - StatusFailed
    schemas.ServerInfoResponse:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
        version:
          type: string
    schemas.OAuth2ConfigPatchRequest:
      type: object
      properties:
        authorize_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigPatchRequest'
        client_id:
          type: string
          maxLength: 1000
        client_secret:
          type: string
          maxLength: 1000
        pkce:
          $ref: '#/components/schemas/schemas.PKCEConfigPatchRequest'
        refresh_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigPatchRequest'
        scope_delimiter:
          type: string
          enum:
          - ','
          - ' '
        token_introspection_request:
          $ref: '#/components/schemas/schemas.TokenIntrospectionPatchRequest'
        token_request:
          $ref: '#/components/schemas/schemas.OAuth2RequestConfigPatchRequest'
        user_info_request:
          $ref: '#/components/schemas/schemas.UserInfoRequestConfigPatchRequest'
    schemas.Requirements:
      type: object
      properties:
        authorization:
          $ref: '#/components/schemas/schemas.AuthorizationRequirement'
        met:
          type: boolean
          default: false
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/schemas.SecretRequirement'
    auth.Status:
      type: string
      enum:
      - active
      - inactive
      x-enum-varnames:
      - StatusActive
      - StatusInactive
    schemas.HTTPWorkerConfigUpdate:
      type: object
      properties:
        retry:
          type: integer
          maximum: 10
          minimum: 0
        secret:
          type: string
          maxLength: 100
        timeout:
          type: integer
        uri:
          type: string
          maxLength: 2048
    schemas.OffsetPage-schemas_AuthProviderResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/schemas.AuthProviderResponse'
        limit:
          type: integer
        offset:
          type: integer
        page_count:
          type: integer
        total_count:
          type: integer
    schemas.UserInfoRequestTriggersResponse:
      type: object
      properties:
        on_token_grant:
          type: boolean
        on_token_refresh:
          type: boolean
    identity.BindingType:
      type: string
      enum:
      - static
      - tenant
      - project
      - account
      x-enum-varnames:
      - StaticBindingType
      - TenantBindingType
      - ProjectBindingType
      - AccountBindingType
    schemas.AuthProviderPatchRequest:
      type: object
      properties:
        description:
          type: string
          maxLength: 1000
        id:
          type: string
          maxLength: 100
        oauth2:
          $ref: '#/components/schemas/schemas.OAuth2ConfigPatchRequest'
        provider_id:
          type: string
        status:
          type: string
        type:
          type: string
    schemas.PKCEConfigResponse:
      type: object
      properties:
        code_challenge_method:
          type: string
        enabled:
          type: boolean
    schemas.UserInfoRequestConfigResponse:
      type: object
      properties:
        auth_header_value_format:
          type: string
        auth_method:
          type: string
        endpoint:
          type: string
        expiration_format:
          type: string
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
        response_content_type:
          type: string
        response_map:
          type: object
          additionalProperties:
            type: string
        triggers:
          $ref: '#/components/schemas/schemas.UserInfoRequestTriggersResponse'
    schemas.Parameter:
      type: object
      required:
      - name
      - value_schema
      properties:
        description:
          type: string
        inferrable:
          type: boolean
          default: true
        name:
          type: string
        required:
          type: boolean
        value_schema:
          $ref: '#/components/schemas/schemas.ValueSchema'
    tool.Classification:
      type: object
      properties:
        service_domains:
          type: array
          items:
            type: string
    schemas.TokenIntrospectionRequestTriggersResponse:
      type: object
      properties:
        on_token_grant:
          type: boolean
        on_token_refresh:
          type: boolean
    schemas.WorkerType:
      type: string
      enum:
      - http
      - mcp
      - unknown
      x-enum-varnames:
      - WorkerTypeHTTP
      - WorkerTypeMCP
      - WorkerTypeUnknown
    schemas.UserInfoRequestConfigCreateRequest:
      type: object
      required:
      - endpoint
      - triggers
      properties:
        auth_header_value_format:
          type: string
          maxLength: 200
        auth_method:
          type: string
        endpoint:
          type: string
          maxLength: 1000
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_map:
          type: object
          additionalProperties:
            type: string
        triggers:
          $ref: '#/components/schemas/schemas.UserInfoRequestTriggersCreateRequest'
    schemas.SessionVerificationSettingsResponse:
      type: object
      properties:
        unsafe_skip_verification:
          type: boolean
        unsafe_skip_verification_choice_allowed:
          type: boolean
        verifier_url:
          description: not omitempty because we want to show null values
          type: string
    schemas.AuthorizationRequirement:
      type: object
      properties:
        id:
          type: string
        oauth2:
          $ref: '#/components/schemas/schemas.OAuth2AuthorizationRequirement'
        provider_id:
          type: string
        provider_type:
          type: string
        status:
          default: disabled
          allOf:
          - $ref: '#/components/schemas/auth.Status'
        status_reason:
          type: string
        token_status:
          $ref: '#/components/schemas/auth.AuthorizationStatus'
    schemas.OAuth2RequestConfigCreateRequest:
      type: object
      required:
      - endpoint
      properties:
        auth_header_value_format:
          type: string
          maxLength: 200
        auth_method:
          type: string
        endpoint:
          type: string
          maxLength: 1000
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_map:
          type: object
          additionalProperties:
            type: string
    schemas.WorkerResponse:
      type: object
      properties:
        binding:
          $ref: '#/components/schemas/schemas.BindingResponse'
        enabled:
          type: boolean
        http:
          $ref: '#/components/schemas/schemas.HTTPWorkerConfigResponse'
        id:
          type: string
        managed:
          type: boolean
        mcp:
          $ref: '#/components/schemas/schemas.MCPWorkerConfigResponse'
        requirements:
          $ref: '#/components/schemas/schemas.WorkerRequirementsResponse'
        type:
          $ref: '#/components/schemas/schemas.WorkerType'
    schemas.WorkerAuthorizeResponse:
      type: object
      required:
      - scopes
      - status
      - user_id
      - worker_id
      properties:
        next_uri:
          type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
        url:
          type: string
        user_id:
          type: string
        worker_id:
          type: string
    schemas.TokenIntrospectionTriggersCreateRequest:
      type: object
      properties:
        on_token_grant:
          type: boolean
        on_token_refresh:
          type: boolean
    schemas.WorkerHealthResponse:
      type: object
      properties:
        enabled:
          type: boolean
        healthy:
          type: boolean
        id:
          type: string
        message:
          type: string
    schemas.WorkerAuthorizationRequirementResponse:
      type: object
      properties:
        met:
          type: boolean
        oauth2:
          $ref: '#/components/schemas/schemas.OAuth2AuthorizationRequirementResponse'
    schemas.MCPWorkerConfigResponse:
      type: object
      properties:
        external_id:
          type: string
        headers:
          $ref: '#/components/schemas/schemas.MCPWorkerHeadersResponse'
        oauth2:
          $ref: '#/components/schemas/schemas.MCPOAuth2ConfigResponse'
        redirect_uri:
          type: string
        retry:
          type: integer
        secrets:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/schemas.SecretResponse'
        timeout:
          type: integer
        uri:
          type: string
    schemas.UserAuthProviderConnectionResponse:
      type: object
      properties:
        connection_id:
          type: string
        connection_status:
          type: string
        id:
          type: string
        provider_description:
          type: string
        provider_id:
          type: string
        provider_type:
          type: string
        provider_user_info: {}
        scopes:
          type: array
          items:
            type: string
        user_id:
          type: string
    schemas.TokenIntrospectionCreateRequest:
      type: object
      required:
      - endpoint
      - triggers
      properties:
        auth_header_value_format:
          type: string
          maxLength: 200
        auth_method:
          type: string
        endpoint:
          type: string
          maxLength: 1000
        method:
          type: string
        params:
          type: object
          additionalProperties:
            type: string
        request_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_content_type:
          type: string
          enum:
          - application/x-www-form-urlencoded
          - application/json
        response_map:
          type: object
          additionalProperties:
            type: string
        triggers:
          $ref: '#/components/schemas/schemas.TokenIntrospectionTriggersCreateRequest'
    schemas.OAuth2AuthorizationRequirementResponse:
      type: object
      properties:
        met:
          type: boolean
    schemas.PKCEConfigPatchRequest:
      type: object
      properties:
        code_challenge_method:
          type: string
        enabled:
          type: boolean
    schemas.Error:
      type: object
      properties:
        message:
          type: string
        name:
          type: string
    schemas.WorkerTestResponse:
      type: object
      properties:
        message:
          type: string
        serverInfo:
          $ref: '#/components/schemas/schemas.ServerInfoResponse'
        success:
          type: boolean
    schemas.WorkerTestRequest:
      type: object
      required:
      - type
      properties:
        http:
          $ref: '#/components/schemas/schemas.HTTPWorkerTestConfig'
        mcp:
          $ref: '#/components/schemas/schemas.MCPWorkerTestConfig'
        type:
          type: string
    schemas.MCPWorkerConfigCreateRequest:
      type: object
      required:
      - retry
      - timeout
      - uri
      properties:
        headers:
          $ref: '#/components/schemas/schemas.MCPWorkerHeadersCreateRequest'
        oauth2:
          $ref: '#/components/schemas/schemas.MCPOAuth2ConfigCreateRequest'
        retry:
          type: integer
          maximum: 10
          minimum: 0
        secrets:
          $ref: '#/components/schemas/schemas.MCPWorkerSecretsCreateRequest'
        timeout:
          type: integer
        uri:
          type: string
          maxLength: 2048
  securitySchemes:
    Bearer:
      description: 'Enter your API key or API token in the format: Bearer <token>'
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Documentation
  url: https://docs.arcade.dev
